.text {
    font-family: 'Amatic SC', cursive;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    font-size: 38px;
}

.bordered {
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.text.full-bg {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;

}

.menu-item {
    font-size: 40px;
    padding: 10px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.6);
}

.key {

    border: 1px solid rgba(64, 64, 64, 0.5);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 1px 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 2px;
    vertical-align: middle;
}

.days {
    font-family: 'Amatic SC', cursive;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000;
    font-size: 38px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 30px;
}

.item {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px;
}

.small-padding {
    padding: 10px;
}