.text {
    font-family: 'Amatic SC', cursive;
    color: #FFFFFF;
    font-size: 38px;

}

@media (max-width: 640px) {
    .text {
        font-size: 22px !important;
    }

    .key {
        display: none;
    }

    .item {
        width: 80px !important;
        height: 80px !important;
    }
}

.bordered {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,0.6);
}

.text.full-bg {
    padding: 20px;

}

.menu-item {
    font-size: 40px;
    padding: 10px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0.6);
}

.key {
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1px 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 2px;
    vertical-align: middle;
}

.days {
    font-family: 'Amatic SC', cursive;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000;
    font-size: 38px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 30px;
}

.item {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 20px;
}

.small-padding {
    padding: 10px;
}

.progress-wrapper {
    position: relative;
}
.prog {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    text-align: center;
}


.modal-backdrop {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000;
}

.modal-backdrop.in {
    opacity:0.9;
}
